<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/nav.css">
    <link rel="stylesheet" href="./stylesheets/profile.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="./stylesheets/register.css">
    <link rel="stylesheet" href="./stylesheets/register_books.css">
    <link rel="stylesheet" href="./stylesheets/footer.css">
    <link rel="stylesheet" href="./stylesheets/update.css">
    <link rel="stylesheet" href="./stylesheets/login.css">
    <link rel="stylesheet" href="./stylesheets/footer.css">

    
</head>
<body>
