<nav class="nav">
    <ul>
        <li class="nav-items"><a href="/">Home</a></li>
        <li class="nav-items"><a href="/profile">Profile</a></li>
        <li class="nav-items"><a href="/contact">Contact</a></li>
        <li class="nav-items"><a href="/registerproduct">Register Products</a></li>
        <li class="nav-items"><a href="/logout">Logout</a></li>
    </ul>
</nav>
