<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/login.css">
    <link rel="stylesheet" href="./stylesheets/footer.css">
    <title>Login</title>
</head>
<body>
    <div class="login">
        <h1>Login</h1>
        <form action="/login" method="post">
            <input type="text" name="email" placeholder="Enter Email">
            <input type="password" name="password" placeholder="Enter Password">
            <button>Login</button>
        </form>
        <p>Don't have an account? <a href="/register">Register here</a></p>
    </div>
</body>
</html>
