<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Product</title>
    <link rel="stylesheet" href="/stylesheets/register_books.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">

</head>
<body>
    <%-include('./partials/nav')%>
    <div class="container">
        <h1>Register Product</h1>
        <form action="/registerproduct" method="post" enctype="multipart/form-data" class="registration-form">
            <div class="input-group">
                <input type="text" name="name" placeholder="Product Name" required>
                <input type="text" name="description" placeholder="Description" required>
                <input type="number" name="price" placeholder="Price" required>
                <input type="text" name="category" placeholder="Category" required>
                <input type="file" name="image" accept="image/*" required>
            </div>
            <button type="submit">Register Product</button>
        </form>
    </div>
    <%-include('./partials/footer')%>

