<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="./stylesheets/register.css">
    <link rel="stylesheet" href="./stylesheets/footer.css">

</head>
<body>
    <div class="container">
        <h1>Registration</h1>
        <form action="/register" method="post" class="registration-form">
            <div class="input-group">
                <input type="text" name="name" placeholder="Full Name" required>
                <input type="email" name="email" placeholder="Email Address" required>
                <input type="tel" name="phone" placeholder="Enter Phone Number" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="password" name="confirm" placeholder="Confirm Password" required>
                <input type="number" name="age" placeholder="Age">
                <select name="country">
                    <option value="">Select Country</option>
                    <% countryNames.forEach(function(c){%>

                        <option value="<%= c%>">
                            <%= c%>
                        </option>

                        <%})%>

                </select>
            </div>
            <button type="submit">Register</button>
        </form>
        <p class="login-link">Already have an account? <a href="/login">Login here</a></p>
    </div>
</body>
</html>
